* {
    box-sizing: border-box;
}

.tela-inicial {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FB6B6B;
}
.tela-inicial img {
    width: 55px;

    margin-top: 90px;
}
.tela-inicial h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;

    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.tela-inicial button {
    width: 141px;
    height: 31px;
    
    margin-top: 73px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #D70900;
        
    border: 1px solid #D70900;
    border-radius: 5px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
}

.conteudo {
    position: fixed;
    z-index: 1;
    top: 0; left: 0; right: 0;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FB6B6B;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 19px;
}
.topo h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.perguntas {
    width: 182px;
    height: 100%;

    margin: 40px 10px 50px 10px;

    overflow-y: scroll;
}

.pergunta {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #333333;

    margin-bottom: 5px;

    padding: 0 12px 0 6px;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
    background: #FFFFFF;
}
.pergunta p {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}

.nao-lembrei {
    text-decoration-line: line-through;
    color: #FF3030;
}

.quase-nao-lembrei {
    text-decoration-line: line-through;
    color: #FF922E;
}

.zap {
    text-decoration-line: line-through;
    color: #2FBE34;
}

.QeR {
    position: relative;

    width: 100%;
    min-height: 80px;

    margin-bottom: 14px;

    padding: 3px;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
    background: #FFFFFF;
}
.QeR p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    margin-bottom: 35px;

    color: #333333;
}
.QeR ion-icon {
    position: absolute;
    bottom: 7px; right: 8px;
}

.avaliacao {
    position: absolute;
    z-index: 2;
    bottom: 3px; left: 3px; right: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avaliacao * {
    width: 55px;
    height: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    text-align: center;
    color: #FFFFFF;

    border: none;
    border-radius: 5px;
}
.avaliacao button:nth-child(1) {
    background-color: #FF3030;
}
.avaliacao button:nth-child(2) {
    background-color: #FF922E;
}
.avaliacao button:nth-child(3) {
    background-color: #2FBE34;
}

footer {
    position: fixed;
    z-index: 2;
    bottom: 0; left: 0; right: 0;

    height: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #333333;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
}

/* utilitários */
.centralizar-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.escondido {
    display: none;
}
